body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #006EB1;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  font-size: 20px;
}

nav ul li {
  display: inline;
  margin: 0 30px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}

section div{
  padding: 0 30px;
}

section div p{
  font-size: 18px;
}

section div img{
  margin-left: auto;
  display: block;
  width: 300px;
  height: auto;
}

section div ul{
  list-style-type: none;
  padding: 0;
  font-size: 18px;
}

section div ul li {
  text-align: center;
  margin: 10px 0;
}

footer {
  background-color: #006EB1;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
